@import "../Start/Start";
@import "../Forecast/Forecast";

body{
  padding: 0;
  margin: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

header{
  width: 100%;
  height: 11vh;
  margin-top: -1%;
  background-color: black;
  ul{
    padding: 2.5vh 0 2vh 0;
    display: flex;
    flex-direction: row;
    margin-left: 15%;
      li{
        &:first-child{
          margin-right: 5%;
        }
          a{
            @include text-props(white,39px,bold,_);
          }
          .active{
            transition: 0.9s;
            padding-bottom: 4px;
            color:red;
            border-bottom:3px solid red;
            text-decoration: red;
          }
      }
  }

}